* {
    margin: 0;
    padding: 0;
}

body {
    background: #e9ecf4;
    color: #000;
}

.app .header h1 {
    text-align: center;
}

.app {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 1fr;

    grid-template-areas: "header header"
                         "list   card-pokemon";
    
}

.app > div {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.app .header {
    grid-area: header;
}

.app .list {
    grid-area: list;
}

.app .card-pokemon {
    grid-area: card-pokemon;
}

.app .card-pokemon > div {
    padding: 10px;
    margin: 5px;
}

.app .card-pokemon .name {
    text-align: center;
}

.app .card-pokemon .detail {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.app .card-pokemon .detail > div {
    padding: 10px;
    margin: 5px;
}

.app .card-pokemon .detail .image img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
}

.app .card-pokemon .detail .ability-info {
    background: #0d6efd;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.app .card-pokemon .detail .ability-info table {
    table-layout: auto;
    min-width: 150px;
}

.app .card-pokemon .detail .ability-info table tbody > tr {
    height: 40px;
}

.type {
    color: white;
    margin: 5px;
    display: block;
    font-size: 16px;
}
  
.normal {
    background: #aca981;
}

.fighting {
    background: #bf3228;
}
  
.flying {
    background: #a792ee;
}
  
.poison {
    background: #a042a3;
}
  
.ground {
    background: #e2c06b;
}
  
.rock {
    background: #b6a038;
}
  
.bug {
    background: #aab922;
}
  
.ghost {
    background: #705a98;
}
  
.steel {
    background: #b7b8ce;
}
  
.fire {
    background: #e28145;
}
  
.water {
    background: #718bf1;
}
  
.grass {
    background: #79cb4f;
}

.electric {
    background: #f8d02e;
}
  
.psychic {
    background: #f55a86;
}
  
.ice {
    background: #9bd8d8;
}
  
.dragon {
    background: #6b3af8;
}
  
.dark {
    background: #705847;
}
  
.fairy {
    background: #ee9bae;
}
  
.unknown {
    background: #68a192;
}
  
.shadow {
    background: #747474;
}
